<div class="card-header">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-globe"></i>
            </div>
        </div>
        <select class="form-control" name="tramiteBarra" [(ngModel)]="tramite" (change)="loadData()">
            <option [ngValue]="null" selected>Elige un tramite</option>
            <option *ngFor="let tramite of listaTramites" [ngValue]="tramite">{{tramite}}</option>
          </select>
    </div>
</div>
<div class="card-body">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
    </canvas>
</div>