<div class="modal-body">
  <form [formGroup]="detalleForm">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>N° Tramite</label>
          <input type="text" formControlName="detalleTramite" class="form-control" readonly>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Codigo Estudiante</label>
          <input type="text" formControlName="detalleCodEstudiante" class="form-control" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Estado Actual</label>
          <input type="text" placeholder="Estado" formControlName="detalleEstado" class="form-control" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" formControlName="detalleApellidos" class="form-control" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Nombres</label>
          <input type="text" formControlName="detalleNombres" class="form-control" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Fecha</label>
          <input type="text" formControlName="detalleFecha" class="form-control" readonly>
        </div>
      </div>
    </div>
  </form>

  <app-create-tramite (respuestaRegistroTramite)="updateCreateTramite($event)" [in_NewTramite]="in_tramite"></app-create-tramite>

  <br><br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <tabset class="table">
      <tab heading="Detalles" id="tab1">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="detalles">
                <th>N° Tramite</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Observacion</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody class="detallesTramite">
              <tr *ngFor="let itemDetalle of listaDetalles">
                <td>{{itemDetalle.id_est_doc}}</td>
                <td>{{itemDetalle.fecha}}</td>
                <td>{{itemDetalle.estado}}</td>
                <td>{{itemDetalle.observaciones}}</td>
                <td class="text-center" (click)="seleccionarDetalle(itemDetalle)">
                  <i class="fas fa-edit"></i>
                </td>
                <td class="text-center" (click)="eliminarDetalle(itemDetalle)">
                  <i class="ni ni-fat-remove"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>

      <tab heading="Adjuntos" id="tab2">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="adjuntos" >
                <th>N° Tramite</th>
                <th>Fecha</th>
                <th>Descargar</th>
              </tr>
            </thead>
            <tbody *ngIf="adjuntoOk" >
              <tr *ngFor="let itemAdjunto of listaAdjuntos" class="detalleAdjuntos">
                <td>{{itemAdjunto.ID_EST_DOC}}</td>
                <td>{{itemAdjunto.FECHA}}</td>
                <td class="text-center"> <a href="{{itemAdjunto.URL}}" target="_blank">
                    <i class="ni ni-cloud-download-95"></i>
                  </a> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>

      <tab heading="Certificado" id="tab3">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="certificados">
                <th>N° Tramite</th>
                <th>Fecha</th>
                <th>Descargar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody *ngIf="certificadoOk">
              <tr *ngFor="let itemCertificado of listaCertificado" class="detalleCertificados">
                <td>{{itemCertificado.id_est_doc}}</td>
                <td>{{itemCertificado.fecha}}</td>
                <td class="text-center">
                  <a href="{{itemCertificado.url}}" target="_blank">
                    <i class="ni ni-paper-diploma"></i>
                  </a>
                </td>
                <td class="text-center delete" (click)="eliminarCertificado(itemCertificado)">
                  <i class="ni ni-fat-remove"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </ul>

  <!-- Modal Modificar  (onHidden)="leerDetalles()"-->
  <div class="modal fade" bsModal #modalMod="bs-modal" id="formulario-actualizar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color :black;">Modificar Detalle Tramite</h5>
          <button id="closeEditTramite" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalMod.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-edit-tramite *ngIf="seleccionEditOk" [in_updateDetalle]="updateDetalle"
          (respuestaUpdateTramite)="modalMod.hide(); leerDetalles();"></app-edit-tramite>
      </div>
    </div>
  </div>

</div>