<form [formGroup]="estadosActualizarForm" (ngSubmit)="actualizarEstadoTramite()">
    <div style="color: black;" class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">N° Tramite</label>
        <input type="text" class="form-control" readonly formControlName="id_est_doc">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Fecha</label>
        <input type="text" class="form-control" readonly formControlName="fecha">
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Estado</label>
        <select class="form-control edit" formControlName="estado">
          <option [value]="'PROCESANDO'">PROCESANDO</option>
          <option [value]="'OBSERVADO'">OBSERVADO</option>
          <option [value]="'FINALIZADO'">FINALIZADO</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Observación</label>
        <textarea id="editTramite" class="form-control form-control-alternative" rows="5" type="text" placeholder="Observacion"
          formControlName="observaciones"></textarea>
      </div>

    </div>
    <div class="modal-footer">
      <button id= "btnEditTramite" type="submit" class="btn btn-primary" [disabled]="estadosActualizarForm.invalid">Actualizar</button>
    </div>
  </form>