<div class="card-header">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-globe"></i>
            </div>
        </div>
        <select class="form-control" name="tramitePie" [(ngModel)]="tramite" (change)="loadData()">
            <option [ngValue]="null" selected>Elige un tramite</option>
            <option *ngFor="let tramite of listaTramites" [ngValue]="tramite">{{tramite}}</option>
        </select>
    </div>
</div>

<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
    [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="pieChartColors">
</canvas>