<h4>Registrar Nuevo Estado</h4>
<form class="row" [formGroup]="registrarForm" (ngSubmit)="registraEstado(registrarForm.value)">
    <div class="col-sm-4">
        <div class="form-group">
            <select class="form-control" formControlName="estado">
                <option value="">Seleccione un estado</option>
                <option value="PROCESANDO">PROCESANDO</option>
                <option value="OBSERVADO">OBSERVADO</option>
                <option value="FINALIZADO">FINALIZADO</option>
            </select>
            <div *ngIf="registrarForm.controls.estado.invalid && registrarForm.controls.estado.touched">
                <small id="msgReqEstadoNew" class="text-left" *ngIf="registrarForm.controls.estado.errors?.required">
                    Se requiere seleccionar estado</small>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <textarea type="text" class="form-control" rows="3" placeholder="Observacion" maxlength="255"
                formControlName="observaciones"></textarea>
            <div *ngIf="registrarForm.controls.observaciones.invalid && registrarForm.controls.observaciones.touched">
                <small id="msgReqObsNew" class="text-left" *ngIf="registrarForm.controls.observaciones.errors?.required">
                    Se requiere ingresar observacion</small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <button id="registerNewStatusTramite" type="submit" [disabled]="registrarForm.invalid"
                class="btn btn-primary">
                Registrar
            </button>
        </div>
    </div>
</form>

<h4>Adjuntar Certificado</h4>

<form class="input-group mb-3" [formGroup]="uploadForm" (ngSubmit)="upload()">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-primary" [disabled]="uploadForm.invalid" type="submit"
                id="inputGroupFileAddon03" >Subir</button>
        </div>
        <div class="custom-file">
            <input type="file" #file class="custom-file-input" id="inputGroupFile03"
                aria-describedby="inputGroupFileAddon03" accept="application/pdf" (change)="seleccionarArchivo($event)">
            <label class="custom-file-label" for="inputGroupFile03">{{fileName}}</label>
        </div>
    </div>
    <div *ngIf="uploadForm.controls.subir.invalid && uploadForm.controls.subir.touched">
        <small class="text-left" *ngIf="uploadForm.controls.subir.errors?.required">Se requiere adjuntar
            documento</small>
    </div>
</form>