<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7" [formGroup]="dashboardForm">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ni ni-calendar-grid-58"></i>
                  </div>
                </div>
                <input type="text" name="dateInt" placeholder="Fecha Inicio" class="form-control" readonly="readonly"
                  bsDatepicker [bsConfig]="{ isAnimated: true }" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  [minDate]="minDate"
                  [maxDate]="this.dashboardForm.getRawValue().dateEnd ? this.dashboardForm.getRawValue().dateEnd :maxDate"
                  formControlName="dateInit" (onHidden)="loadData()" autocomplete="off" />
              </div>
            </div>
            <!-- FECHA HASTA -->
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="ni ni-calendar-grid-58"></i>
                  </div>
                </div>
                <input type="text" name="dateEnd" placeholder="Fecha Fin" class="form-control" bsDatepicker
                  readonly="readonly" [bsConfig]="{ isAnimated: true }" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  formControlName="dateEnd"
                  [minDate]="this.dashboardForm.getRawValue().dateInit ? this.dashboardForm.getRawValue().dateInit : minDate"
                  [maxDate]="maxDate" (onHidden)="loadData()" autocomplete="off" />
              </div>
            </div>
            <!-- TRAMITES -->
            <div class="col-md-4">
              <select class="form-control" formControlName="tramite" (change)="loadData()">
                <option Value="" selected>Elige un tramite</option>
                <option *ngFor="let tramite of listaTramites" [value]="tramite">{{tramite}} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-xl-6">
      <div class="card shadow">
        <app-pie [Inicio]="this.dashboardForm.getRawValue().dateInit | date: 'yyyy/MM/dd'"
          [Fin]="this.dashboardForm.getRawValue().dateEnd | date: 'yyyy/MM/dd'" [listaTramites]="listaTramites">
        </app-pie>
        <br>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow">
        <app-donut [Inicio]="this.dashboardForm.getRawValue().dateInit | date: 'yyyy/MM/dd'"
          [Fin]="this.dashboardForm.getRawValue().dateEnd | date: 'yyyy/MM/dd'" [listaTramites]="listaTramites">
        </app-donut>
      </div>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <app-bar [Inicio]="this.dashboardForm.getRawValue().dateInit | date: 'yyyy/MM'"
          [Fin]="this.dashboardForm.getRawValue().dateEnd | date: 'yyyy/MM'" [listaTramites]="listaTramites"></app-bar>
      </div>
    </div>
  </div>

</div>