<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>







<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Gestion Tramites</h3>
        </div>
        <form class="border p-3 form" [formGroup]="consultaForm"  (change)="onChangeForm()">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" placeholder="N° Tramite" formControlName="filterTramite" class="form-control" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" placeholder="Codigo Estudiante" formControlName="filterCodEstudiante" class="form-control" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" placeholder="Apellidos" formControlName="filterApellidos" class="form-control" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <select id="inputEstado" class="form-control" formControlName="filterEstado" >
                  <option value="">Seleccione...</option>
                  <option [value]="'REGISTRADO'">REGISTRADO</option>
                  <option [value]="'PROCESANDO'">PROCESANDO</option>
                  <option [value]="'OBSERVADO'">OBSERVADO</option>
                  <option [value]="'FINALIZADO'">FINALIZADO</option>
              </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" placeholder="Nombres" formControlName="filterNombres"  class="form-control" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" placeholder="Tipo Tramite" formControlName="filterTipoTramite"  class="form-control" >
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">N° Tramite</th>
                <th scope="col">Tipo Tramite</th>
                <th scope="col">Codigo Estudiante</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody  *ngIf="listaTramiteOk">
              <tr  *ngFor="let tramite of listaTramiteDoc | 
              filter:[
              consultaForm.getRawValue().filterApellidos,
              consultaForm.getRawValue().filterEstado,
              consultaForm.getRawValue().filterNombres,
              consultaForm.getRawValue().filterTramite,
              consultaForm.getRawValue().filterCodEstudiante, 
              consultaForm.getRawValue().filterTipoTramite] |
              paginate:{itemsPerPage: 5, currentPage:p}
              ">
                <td>
                {{tramite.ID_EST_DOC}}
                </td>
                <td>
                  {{tramite.NOMBRE}}
                  </td>
                <td>
                  {{tramite.COD_EST}}
                </td>
                <td>
                  {{tramite.APELLIDOS}}
                </td>
                <td>
                  {{tramite.ESTUDIANTE}}
                </td>
                <td>
                  {{tramite.ESTADO}}
                </td>
                <td>
                  {{tramite.FECHA_DOC}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="detalleTramite(tramite)">Detalles</a>
                    </div>
                  </div>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="container d-flex justify-content-center">
          <pagination-controls (pageChange)="p=$event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          responsive="true"
          *ngIf="listaTramiteOk">
          </pagination-controls>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">DetalleTramite</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <app-detalletramite [in_tramite]="tramiteSeleccionado" *ngIf="modalVisible" ></app-detalletramite>
    </div>
 </div>
</div>